button
{
font-size: 25px;
background-color: rgb(186, 138, 15);
color:rgb(41, 28, 28);
width: 250px;
height: 35px;
margin-top: 10px;
}

#rezultat{
    height: 50px;
    
}
.div {
    height: 650px;
}
input{
    height: 35px;
    width: 250px;
}